<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title> </title>
	<link href="{% static 'css/all.min.css' %}" rel="stylesheet">
	<link href="{% static 'css/home.css' %}" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script>
	</script>
</head>
<body>	
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="container">
			  <a class="navbar-brand" href="#">Skippedia</a>
			  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			    <span class="navbar-toggler-icon"></span>
			  </button>

			  <div class="collapse navbar-collapse" id="navbarSupportedContent">
			    <ul class="navbar-nav mr-auto ">
			      <li class="nav-item dropdown">
			        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			          Dropdown
			        </a>
			        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
			          <a class="dropdown-item" href="{% url 'setting' %}">Setting</a>
			          <div class="dropdown-divider"></div>
			          <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
			        </div>
			      </li>
			    </ul>
			    <form class="form-inline my-2 my-lg-0">
			      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
			      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
			    </form>
			  </div>
		</div>
	</nav>
	<div class="container">
		<div style="text-align: center;">
			<form id="option" class="form-inline" style="margin: auto;">
			  <div class="form-group mx-sm-3 mb-2">
			    <label class="sr-only">Cari Nama</label>
			    <input type="text" class="form-control" id="nama" placeholder="Cari Nama" onkeyup="newFilter()">
			  </div>
			  <select id="angkatan" class="form-control" onclick="newFilter()">
			  	  <option value="">Semua</option>
				  <option value="2014">2014</option>
  				  <option value="2015">2015</option>
  				  <option value="2016">2016</option>
  				  <option value="2017">2017</option>
				</select>
				<select id="jurusan" class="form-control" onclick="newFilter()">
				  <option value="">Semua</option>
				  <option value="IF">IF</option>
  				  <option value="STI">STI</option>
				</select>
				<select id="sort" class="form-control" onclick="newFilter()">
				  <option value="DESC">Menurun</option>
  				  <option value="ASC">Menaik</option>
				</select>
			</form>
			<div id="rating-list"></div>
		</div>
	</div>
	<!-- Bootstrap Core -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<!-- This Page Javascript -->
	<script src="{% static 'js/home.js' %}" ></script>
	  <!-- Plugin JavaScript -->
	  <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

	  <!-- Custom scripts for this template -->
	  <script src="{% static 'js/grayscale.min.js'%}"></script>
</body>
</html>